#set( $serverPort = $webAppProps.getProperty("serverPort") )
#set( $httpConnectorPort = $webAppProps.getProperty("httpConnectorPort") )
#set( $httpsConnectorPort = $webAppProps.getProperty("httpsConnectorPort") )
#set( $ajpConnectorPort =  $webAppProps.getProperty("ajpConnectorPort") )
<Server port="${serverPort}" shutdown="SHUTDOWN">

  <GlobalNamingResources>
    <!-- Used by Manager webapp -->
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
       description="User database that can be updated and saved"
           factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
          pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="off" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <Service name="Catalina">
    <Connector port="${httpConnectorPort}" URIEncoding="UTF-8" connectionTimeout="30000" keepAliveTimeout="30000" />

    <Connector port="${httpsConnectorPort}" URIEncoding="UTF-8" connectionTimeout="30000" keepAliveTimeout="30000" secure="true" />

    <Connector port="${ajpConnectorPort}" URIEncoding="UTF-8" connectionTimeout="30000" keepAliveTimeout="30000" protocol="AJP/1.3" />

    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase" />
      <Host name="localhost" appBase="webapps" autoDeploy="false" copyXML="true" />
    </Engine>
    
  </Service>
</Server>
