		<div id="sidebar">
			<h2>Mapper Algorithm</h2>
#set( $algo = $servletConfig.getServletContext().getAttribute("mapper") )
#if( $algo.isPaused() )
			<p class="multiForms">
				To activate the mapper algorithm press the Resume button or the Single Step button.
				<table>
					<tr>
						<td>
							<form action="status/mapperResume" method="get" enctype="text/plain">
								<input type="submit" name="mapperResume" value="Resume" />
							</form>
						</td>
						<td>
							<form action="status/mapperSingleStep" method="get" enctype="text/plain">
								<input type="submit" name="mapperSingleStep" value="Single Step" />
							</form>
						</td>
					</tr>
				</table>
			</p>
<!--			
			<form action="status/mapperResume" method="get" enctype="text/plain">
				<p>
				To activate the mapper algorithm press the Resume button.<br>
				<input type="submit" name="mapperResume" value="Resume" />
				<input type="submit" name="mapperSingleStep" value="Single Step" />
				</p>
			</form>
-->
#else			
			<form action="status/mapperSuspend" method="get" enctype="text/plain">
				<p>
				To pause the mapper algorithm press the Suspend button.<br>
				<input type="submit" name="mapperSuspend" value="Suspend" />
				</p>
			</form>
#end
			<h2>Mapper Statistics</h2>
			<form action="status/mapperResetStats" method="get" enctype="text/plain">
				<p>
				To reset the mapper statistics press the Reset button.<br>
				<input type="submit" name="mapperResetStats" value="Reset" />
				</p>
			</form>


		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>