<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Status</a></h2>
		<div style="font-size: 90%; line-height: 130%">
			<table class="sensors">
				<thead>
					<tr>
						<th colspan="2">Mapping Algorithm Statistics</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width: 50%">Mapper Algorithm:</td>
#set( $algo = $servletConfig.getServletContext().getAttribute("mapper") )
#if( $algo.isPaused() )
						<td><span style="color: red">paused</span></td>
#else
						<td><span style="color: green">active</span></td>
#end
					</tr>
					<tr>
						<td>Execution Time:</td>
						<td>$algo.getExecutionTime() ms</td>
					</tr>
					<tr>
						<td>Minimum Execution Time:</td>
						<td>$algo.getExecutionTimeMin() ms</td>
					</tr>
					<tr>
						<td>Maximum Execution Time:</td>
						<td>$algo.getExecutionTimeMax() ms</td>
					</tr>
					<tr>
						<td>Average Execution Time:</td>
						<td>$algo.getExecutionTimeAvg() ms</td>
					</tr>
					<tr>
						<td>Number of Executions:</td>
						<td>$algo.getExecutions()</td>
					</tr>
				</tbody>
			</table>
			
			<div style="clear: both;">&nbsp;</div>
			<table class="sensors">			
				<thead>
					<tr>
						<th colspan="2">Migration Statistics</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width: 50%">Number of Migrations succeeded:</td>
						<td>$algo.getMigrationsOk()</td>
					</tr>
					<tr>
						<td>Number of Migrations failed:</td>
						<td>$algo.getMigrationsFailed()</td>
					</tr>
					<tr>
						<td>Average Migration Time:</td>
						<td>$algo.getMigrationTimeAvg() ms</td>
					</tr>
					
				</tbody>
			</table>
			
			<div style="clear: both;">&nbsp;</div>
			<table class="sensors">
				<thead>
					<tr>
						<th colspan="2">Vehicle Statistics</th>
					</tr>
				</thead>
				<tbody>
#set( $keySet = $algo.getVvStatistics().keySet() )
#foreach( $key in $keySet )
#set( $vvstat = $algo.getVvStatistics().get($key) )
					<tr>
						<td style="width: 50%">$key</td>
						<td>$vvstat</td>
					</tr>
#end
				</tbody>
			</table>	
			
			
			<div style="clear: both;">&nbsp;</div>
#set( $reg = $servletConfig.getServletContext().getAttribute("regdata") )
#set( $keySet = $reg.keySet() )
			<table class="sensors">
				<thead>
					<tr>
						<th>registered engines</th>
					</tr>
				</thead>
				<tbody>
#foreach( $key in $keySet )
#set( $rd = $reg.get($key) )
					<tr>
#if( $rd.isCentralEngine() )
						<td><span style="color: brown;">Central Engine URL: </span><a href="$key">$key</a>
#else
						<td>Engine URL: <a href="$key">$key</a>
#end
#if( $rd.getPilotUrl() )
<br/>Pilot URL: <a href="$rd.getPilotUrl()">$rd.getPilotUrl()</a> <br/>
#set( $pilotName = false )
#set( $pilotName = $rd.getPilotConfig().get("pilotName") )
#if( $pilotName )
Pilot Name: <a href="$rd.getPilotUrl()">$pilotName</a>
#end
#end
#if ( $rd.getSensors() )
<br/>Available sensors:
#set( $first = true )
#set( $su = $rd.getPilotUrl() + "/sensor" )
#foreach( $sensor in $rd.getSensors() )#if( !$first ),#{end} <a href="$su/$sensor">$sensor</a>#set( $first = false )#end
#end
						</td>
					</tr>
#end
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- end #content -->