	<div id="header" class="container">
		<div id="logo">
			<h1><a href="index.tpl">Mapper</a></h1>
			<p><a href="http://cs.uni-salzburg.at/~ck/group/">ESE CPCC Project</a></p>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#">Status</a></li>
				<li><a href="#">Configuration</a></li>
				<li><a href="snoop">Snoop</a></li>
			</ul>
		</div>
	</div>
	<!-- end #header -->