		<div id="sidebar">
			<h2>Mapper Algorithm</h2>
#set( $algo = $servletConfig.getServletContext().getAttribute("mappingAlgorithm") )
#if( $algo.isPaused() )
			<form action="status/mapperResume" method="get" enctype="text/plain">
				<p>
				To activate the mapper algorithm press the Resume button.<br>
				<input type="submit" name="mapperRegistration" value="Resume" />
				</p>
			</form>
#else			
			<form action="status/mapperSuspend" method="get" enctype="text/plain">
				<p>
				To pause the mapper algorithm press the Suspend button.<br>
				<input type="submit" name="mapperRegistration" value="Suspend" />
				</p>
			</form>
#end
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>