<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Status</a></h2>
		<div style="font-size: 90%; line-height: 130%">
#set( $reg = $servletConfig.getServletContext().getAttribute("regdata") )
#set( $keySet = $reg.keySet() )
<table>	
#foreach( $key in $keySet )
<tr><td>
Engine URL: <a href="$key">$key</a> <br/>
Pilot URL: unknown <br/>
Available sensors:
#set( $rd = $reg.get($key) )
#set( $first = true )
#foreach( $sensor in $rd.getSensors() )#if( !$first ),#{end} $sensor#set( $first = false )#end
</td></tr>
#end
</table>
		</div>
	</div>
</div>
<!-- end #content -->