		<script type="text/javascript">
			function vehicleMigration() {
				var vehicleDst = document.getElementById("destination").value;
				if (vehicleDst == "") {
					alert("Please provide a migration destination URL!");
					return;
				}
				
				var vehicleIDs = "";
				var vs = document.getElementsByName("vehicles");
				for (var k=0; k < vs.length; k++) {
					if (vs[k].checked) {
						if (vehicleIDs != "")
							vehicleIDs += ",";
						vehicleIDs += vs[k].value;
					}
				}
				if (vehicleIDs == "") {
					alert("Please select one or more vehicles in the vehicle list!");
					return;
				}
				
				document.getElementById("vehicleDst").value = vehicleDst;
				document.getElementById("vehicleIDs").value = vehicleIDs;
				document.getElementById("migrationForm").submit();
			}
		</script>
		<div id="sidebar">
			<h2>Vehicle Upload</h2>
			<form action="vehicle/html/vehicleUpload" method="post" enctype="multipart/form-data">
				<p>
				Please select a vehicle archive on your machine and press the Upload button.<br>
				<input type="file" name="configuration" size="20" maxlength="100000" accept="application/zip" /><br>
				<input type="submit" name="configUpload" value="Upload" />
				</p>
			</form>
			<h2>Vehicle Migration</h2>
			<form action="javascript:vehicleMigration()" method="post" enctype="multipart/form-data">
				<p>
				Please select one or more vehicles in the vehicle list, enter a destination URL, and press the Migrate button.<br>
				<input type="text" id="destination" name="destination" size="36" maxlength="100000" /><br>
				<input type="submit" name="migration" value="Migrate" />
				</p>
			</form>
			<form action="vehicle/html/vehicleMigration" id="migrationForm" method="get">
				<input type="hidden" id="vehicleDst" name="vehicleDst" size="36" maxlength="100000" />
				<input type="hidden" id="vehicleIDs" name="vehicleIDs" value="" />				
			</form>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>