<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Virtual Vehicle Detail</a></h2>
		<div style="font-size: 90%; line-height: 130%">
#set( $vehicleNames = $parameters.get("vehicle") )
#set( $vehicleMap = $servletConfig.getServletContext().getAttribute("vehicleMap") )
#set( $vehicle = $vehicleMap.get($vehicleNames[0]) )
#if( $vehicle )
#set( $id = $vehicle.getProperties().getProperty("vehicle.id") )
#set( $name = $vehicle.getWorkDir().getName() )
			<table class="sensors">
				<thead>
					<tr>
						<th></th>
						<th>status</th>
						<th>local name</th>
						<th>unique identification</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="checkbox" name="vehicles" value="$name" /></td>
#if( $vehicle.isProgramCorrupted() )
						<td><span style="color: red;">corrupt</span></td>
#else
#if( $vehicle.isCompleted() )
						<td><span style="color: blue;">completed</span></td>
#else
#if( $vehicle.isActive() )
						<td><span style="color: green;">active</span></td>
#else
						<td><span style="color: grey;">suspended</span></td>
#end
#end
#end
						<td><a href="$contextPath/vehicleDetail.tpl?vehicle=$name">$name</a></td>
						<td>$id</td>
						<td><a href="$contextPath/vehicle/html/vehicleDownload/$name"><img title="Download Virtual Vehicle" src="$contextPath/img/disk.png" alt="download vehicle" /></a></td>
#if( $vehicle.isProgramCorrupted() )
						<td><a href="$contextPath/vehicle/html/delete/$name"><img title="Delete Corrupt Virtual Vehicle" src="$contextPath/img/cross.png" alt="delete" /></a></td>
#else
#if( $vehicle.isCompleted() )
						<td><img src="$contextPath/img/tick.png" alt="completed" /></td>
#else						
#if( $vehicle.isActive() )
						<td><a href="$contextPath/vehicle/html/suspend/$name"><img title="Suspend Virtual Vehicle" src="$contextPath/img/control_pause.png" alt="suspend" /></a></td>
#else
						<td><a href="$contextPath/vehicle/html/resume/$name"><img title="Resume Virtual Vehicle" src="$contextPath/img/control_play.png" alt="resume" /></a></td>
#end
#end
#end							
					</tr>
				<tbody>
			</table>
			
			<div class="vvProgramHeader">
#if( $vehicle.isProgramCorrupted() )
				<div class="vvProgramError">This virtual vehicle program is corrupt!</div>
#else
				Program:
#end
			</div>
			
			<table class="vvProgram">
				<tbody>
#set( $currentIndex = $vehicle.getCurrentCommandIndex() )
#set( $commandList = $vehicle.getCommandList() )
#set( $x = 0 )
#foreach( $command in $commandList )
#if( $vehicle.isProgramCorrupted() )
#set( $lineClassName = "vvProgramLineError" )
#else
#if( $x == 	$currentIndex )
#set( $lineClassName = "vvProgramLineActive" )
#else
#if( $command.is_finished() )
#set( $lineClassName = "vvProgramLineFinished" )
#else
#set( $lineClassName = "vvProgramLine" )
#end
#end
#end
					<tr class="$lineClassName">
#set( $pattern = '"([^"]+)"' )
#set( $replacement = '<a href="'+"$contextPath/vehicle/html/vehicleData/$name/$1" + '">"$1"</a>' )
#set( $code = $command.toString().replaceAll("\n","</br>").replaceAll($pattern,$replacement) )
						<td>$code</td>
					</tr>
#set( $x = $x + 1 )
#end
				<tbody>
			</table>
				
#if( !$vehicle.isProgramCorrupted() )	
			<div class="vvProgramHeader">
				Data Files:
			</div>

#if( $vehicle.getDataFileNames().size() == 0 )
			No files collected yet.
#else
			<table class="vvProgram">
				<tbody>
#foreach( $fileName in $vehicle.getDataFileNames() )		
					<tr class="$lineClassName">
						<td><a href="$contextPath/vehicle/html/vehicleData/$name/$fileName">$fileName</a></td>
					</tr>
#end			
#end
				<tbody>
			</table>
#end

#else
<div style="color: red;">No such vehicle: $vehicleNames[0]</div>
#end
			
			
		</div>
	</div>
</div>
<!-- end #content -->