<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Loaded Vehicles</a></h2>
		<div style="font-size: 90%; line-height: 130%">
			<table class="sensors">
				<thead>
					<tr>
						<th>#</th>
						<th></th>
						<th>status</th>
						<th>name</th>
						<th>unique identification</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
#set( $x = 0 )
#set( $vehicleMap = $servletConfig.getServletContext().getAttribute("vehicleMap") )
#foreach( $vehicle in $vehicleMap )
#set( $name = $vehicle.getWorkDir().getName() )
#set( $id = $vehicle.getProperties().getProperty("vehicle.id") )
#set( $x = $x + 1 )
					<tr>
						<td>$x</td>
						<td><input type="checkbox" name="vehicles" value="$name" /></td>
#if( $vehicle.isComplete() )
						<td><span style="color: blue;">completed</span></td>
#else
#if( $vehicle.isActive() )
						<td><span style="color: green;">active</span></td>
#else
						<td><span style="color: grey;">suspended</span></td>
#end
#end
						<td>$name</td>
						<td>$id</td>
						<td><a href="$contextPath/vehicle/html/vehicleDownload/$name"><img src="$contextPath/img/disk.png" alt="download vehicle" /></a></td>
#if( $vehicle.isComplete() )
						<td><img src="$contextPath/img/tick.png" alt="completed" /></td>
#else						
#if( $vehicle.isActive() )
						<td><a href="$contextPath/vehicle/html/suspend/$name"><img src="$contextPath/img/control_pause.png" alt="suspend" /></a></td>
#else
						<td><a href="$contextPath/vehicle/html/resume/$name"><img src="$contextPath/img/control_play.png" alt="resume" /></a></td>
#end
#end							
					</tr>
#end
				<tbody>
			</table>
		</div>
	</div>
</div>
<!-- end #content -->