<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Status</a></h2>
		<div style="font-size: 90%; line-height: 130%">
			<table class="sensors">
				<tbody>
					<tr>
						<td>Mapper Algorithm:</td>
#set( $algo = $servletConfig.getServletContext().getAttribute("mapper") )
#if( $algo.isPaused() )
						<td><span style="color: red">paused</span></td>
#else
						<td><span style="color: green">active</span></td>
#end
					</tr>
					<tr>
						<td>Execution Time:</td>
						<td>$algo.getExecutionTime() ms</td>
					</tr>
					<tr>
						<td>Minimum Execution Time:</td>
						<td>$algo.getExecutionTimeMin() ms</td>
					</tr>
					<tr>
						<td>Maximum Execution Time:</td>
						<td>$algo.getExecutionTimeMax() ms</td>
					</tr>
					<tr>
						<td>Average Execution Time:</td>
						<td>$algo.getExecutionTimeAvg() ms</td>
					</tr>
					<tr>
						<td>Number of Executions:</td>
						<td>$algo.getExecutions()</td>
					</tr>
				</tbody>
			</table>
			<div style="clear: both;">&nbsp;</div>
#set( $reg = $servletConfig.getServletContext().getAttribute("regdata") )
#set( $keySet = $reg.keySet() )
			<table class="sensors">
				<thead>
					<tr>
						<th>registered engines</th>
					</tr>
				</thead>
				<tbody>
#foreach( $key in $keySet )
#set( $rd = $reg.get($key) )
					<tr>
#if( $rd.isCentralEngine() )
						<td><span style="color: brown;">Central Engine URL: </span><a href="$key">$key</a>
#else
						<td>Engine URL: <a href="$key">$key</a>
#end
#if( $rd.getPilotUrl() )
<br/>Pilot URL: <a href="$rd.getPilotUrl()">$rd.getPilotUrl()</a> <br/>
#set( $pilotName = false )
#set( $pilotName = $rd.getPilotConfig().get("pilotName") )
#if( $pilotName )
Pilot Name: <a href="$rd.getPilotUrl()">$pilotName</a>
#end
#end
#if ( $rd.getSensors() )
<br/>Available sensors:
#set( $first = true )
#set( $su = $rd.getPilotUrl() + "/sensor" )
#foreach( $sensor in $rd.getSensors() )#if( !$first ),#{end} <a href="$su/$sensor">$sensor</a>#set( $first = false )#end
#end

#set( $vehList = $algo.getVirtualVehicleList() )
#set( $vs = [] )
#foreach( $vehicleInfo in $vehList )
#if( $vehicleInfo.getEngineUrl() == $key )
#set( $nul = $vs.add( $vehicleInfo ) )
#end
#end

#if( $vs.size() > 0 )
<br/>Vehicles:
#set( $fvs = 1 )
#foreach( $vehicleInfo in $vs )
<!-- $vehicleInfo.getVehicleStatus().getState() -->
#set( $st = $vehicleInfo.getVehicleStatus().getState() )
#set( $col = "white" )
#if( $st == "SUSPENDED" )#set( $col = "grey" )#end
#if( $st == "ACTIVE" )#set( $col = "green" )#end
#if( $st == "CORRUPT" )#set( $col = "red" )#end
#if( $st == "COMPLETED" )#set( $col = "blue" )#end

#if( $fvs == 1 )
#set( $fvs = 0 )
#else
,
#end
<a href="$key/vehicleDetail.tpl?vehicle=$vehicleInfo.getVehicleName()"><span style="color: $col;">$vehicleInfo.getVehicleStatus().getId()</span></a>
#end
#end
						</td>
					</tr>
#end
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- end #content -->