<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Current Status</a></h2>
		<div style="font-size: 90%; line-height: 130%">
			<table class="sensors">
				<tbody>
					<tr>
						<td>Mapper Algorithm: </td>
#set( $algo = $servletConfig.getServletContext().getAttribute("mapper") )
#if( $algo.isPaused() )
						<td><span style="color: red">paused</span></td>
#else
						<td><span style="color: green">active</span></td>
#end
					</tr>
				</tbody>
			</table>
			<div style="clear: both;">&nbsp;</div>
#set( $reg = $servletConfig.getServletContext().getAttribute("regdata") )
#set( $keySet = $reg.keySet() )
			<table class="sensors">
				<thead>
					<tr>
						<th>registered engines</th>
					</tr>
				</thead>
				<tbody>
#foreach( $key in $keySet )
#set( $rd = $reg.get($key) )
					<tr>
#if( $rd.isCentralEngine() )
						<td style="color: brown;">Central Engine URL: <a href="$key">$key</a> <br/>
#else
						<td>Engine URL: <a href="$key">$key</a> <br/>
#end
#if( $rd.getPilotUri() )
Pilot URL: <a href="$rd.getPilotUri()">$rd.getPilotUri()</a> <br/>
#set( $pilotName = false )
#set( $pilotName = $rd.getPilotConfig().get("pilotName") )
#if( $pilotName )
Pilot Name: <a href="$rd.getPilotUri()">$pilotName</a> <br/>
#end
#end
#if ( $rd.getSensors() )
Available sensors:
#set( $first = true )
#set( $su = $rd.getPilotUri() + "/sensor" )
#foreach( $sensor in $rd.getSensors() )#if( !$first ),#{end} <a href="$su/$sensor">$sensor</a>#set( $first = false )#end
#set( $vehMap = $algo.getVirtualVehicleMap().get($key) )
#if( $vehMap.size() > 0 )
<br/>Vehicles: 
#set( $fvs = 1 )
#foreach( $vehicleStatus in $vehMap.values() )
#if( $fvs == 1 )
#set( $fvs = 0 )
#else
,
#end
<a href="$key/vehicleDetail.tpl?vehicle=$vehicleStatus.getName()">$vehicleStatus.getId()</a>
#end
#end
#end
						</td>
					</tr>
#end
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- end #content -->