<div id="content">
	<div class="post">
		<h2 class="title"><a href="#">Currently Loaded Vehicles</a></h2>
		<div style="font-size: 90%; line-height: 130%">
#set( $vehicleMap = $servletConfig.getServletContext().getAttribute("vehicleMap") )
#if( $vehicleMap.size() > 0)
			<table class="sensors">
				<thead>
					<tr>
						<th>#</th>
						<th><input type="checkbox" onclick="for(i=0, v=document.getElementsByName('vehicles'), c=document.getElementById('vehicles_selector').checked; i &lt; v.length; i++)v.item(i).checked=c;" title="(Un)Select All" name="vehicles_selector" id="vehicles_selector"></th>
						<th>status</th>
						<th>local name</th>
						<th>unique identification</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
#set( $x = 0 )
#foreach( $vehicle in $vehicleMap )
#set( $name = $vehicle.getWorkDir().getName() )
#set( $id = $vehicle.getProperties().getProperty("vehicle.id") )
#set( $x = $x + 1 )
					<tr>
						<td>$x</td>
						<td align="center"><input type="checkbox" name="vehicles" value="$name" /></td>
#if( $vehicle.isFrozen() )
						<td><span style="color: white; background-color: pink;">frozen</span></td>						
#else
#if( $vehicle.isProgramCorrupted() )
						<td><span style="color: red;">corrupt</span></td>
#else
#if( $vehicle.isCompleted() )
						<td><span style="color: blue;">completed</span></td>
#else
#if( $vehicle.isActive() )
						<td><span style="color: green;">active</span></td>
#else
						<td><span style="color: grey;">suspended</span></td>
#end
#end
#end
#end
						<td><a href="$contextPath/vehicleDetail.tpl?vehicle=$name">$name</a></td>
						<td>$id</td>
						<td><a href="$contextPath/vehicle/html/vehicleDownload/$name"><img title="Download Virtual Vehicle" src="$contextPath/img/disk.png" title="download vehicle" /></a></td>
#if( $vehicle.isFrozen() )
						<td><a href="$contextPath/vehicle/html/unfreeze/$name"><img src="$contextPath/img/weather_sun.png" title="unfreeze" /></a></td>
#else
#if( $vehicle.isProgramCorrupted() )
						<td><a href="$contextPath/vehicle/html/delete/$name"><img title="Delete Corrupt Virtual Vehicle" src="$contextPath/img/cross.png" title="delete" /></a></td>
#else
#if( $vehicle.isCompleted() )
						<td><img src="$contextPath/img/tick.png" title="completed" /></td>
#else						
#if( $vehicle.isActive() )
						<td><a href="$contextPath/vehicle/html/suspend/$name"><img title="Suspend Virtual Vehicle" src="$contextPath/img/control_pause.png" title="suspend" /></a></td>
#else
						<td><a href="$contextPath/vehicle/html/resume/$name"><img title="Resume Virtual Vehicle" src="$contextPath/img/control_play.png" title="resume" /></a></td>
#end
#end
#end
#end				
					</tr>
#end
				<tbody>
			</table>
#else
			No virtual vehicles loaded.
#end
		</div>
	</div>
</div>
<!-- end #content -->